@import "commen.scss";
.page-content{width:1200px;margin:0 auto;padding-bottom:30px;
	.text{padding:0 30px;font-size:14px;color:#666;line-height:28px;}
	.label{@include font(12px,#999999);line-height:12px;margin-top:20px;margin-bottom:10px}
}
#video{margin:40px auto;width:658px;}
.bg {
	width: 658px;
	height:280px;
	background: url('../images/summary/cover.jpg') no-repeat center center/cover;
	position: relative;
	img {
		cursor:pointer;
		position: absolute;
		top:50%;
		left:50%;
		width: 82px;
		height:82px;
		margin-left: -41px;
		margin-top: -41px;
	}
}
