
@import './commen.scss';

.box-center {
    width: 1200px;
    margin: 0 auto;
}

.all-content {
    width: 1140px;
    margin: 0 auto;
    &>.label {
        @include font(12px, #999999);
        line-height: 12px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .info {
        @include font(12px, #666666);
        line-height: 48px;
    }
    .box {
        padding: 0 15px;
        margin-top: 10px;
        margin-bottom: 146px;
        &>div {
            width: 540px;
            height: 370px;
            border-radius: 10px;
            background: url('../images/teacher/traning.jpg') no-repeat top center;
            box-shadow: 0 0 20px rgba(0,0,0,.1);
            .top {
                height: 80px;
                line-height: 80px;
                text-align: center;
                @include font(18px,#ffffff);
            }
            .bo {
                padding: 25px 42px 10px;
                @include font(14px,#666666);
                line-height: 28px;
            }
        }
        .left {

        }
    }
}