body, html { width: 100%; height: 100%; margin: 0; }

input, textarea { margin-bottom: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[disabled], input[readonly], select[disabled], select[readonly], textarea[disabled], textarea[readonly] { background: 0 0; cursor: default; }

p { margin-bottom: 0; margin-top: 0; }

ol, ul { list-style: none; margin-bottom: 0; padding: 0; }

a { text-decoration: none; color: #333; }

a:hover { color: #333; text-decoration: none; }

a:link { text-decoration: none; }

i { font-style: normal; }

.f_left { float: left; }

label { margin-bottom: 0; }

.f_right { float: right; }

.clearfix::after { display: block; content: ''; clear: both; height: 0; }

button, input, select, textarea { outline: 0; resize: none; -webkit-box-shadow: none !important; box-shadow: none !important; }

.uneditable-input, input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], select, textarea { margin-bottom: 0 !important; }

button { border: none !important; background: 0 0 !important; }

body { background: #fff; }

[v-cloak] { display: none; }

#app * { -webkit-box-sizing: border-box; box-sizing: border-box; }

.box-center { width: 1200px; margin: 0 auto; }

.box-center { width: 1200px; margin: 0 auto; }

.all-content { width: 1140px; margin: 0 auto; padding-bottom: 50px; /* .box { padding: 0 15px; margin-top: 25px; margin-bottom: 146px; &>div { width: 540px; height: 477px; border-radius: 10px; box-shadow: 0 0 20px rgba(0,0,0,.1); .top { height: 180px; } .bo { padding: 30px 0 0 52px; .place { @include font(18px,#333333); line-height: 28px; } .phone { margin-top: 25px; @include font(14px,#333333); line-height: 28px; p { color:#666666; span { margin-right: 30px; } } } .address { @extend .phone; margin-top: 35px; } } } .left { background: url('../images/contact/beijing.png') no-repeat top center; } .right { background: url('../images/contact/end.png') no-repeat top center; } } */ }

.all-content > .label { font-size: 12px; color: #999999; line-height: 12px; margin-top: 20px; margin-bottom: 10px; }

.all-content .main { padding-top: 28px; padding: 28px 15px 0; }

.all-content .main .office { padding: 37px 0 40px 595px; margin-bottom: 48px; border-radius: 15px; -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.all-content .main .office .name { font-size: 16px; color: #e00058; line-height: 16px; }

.all-content .main .office .phone, .all-content .main .office .email, .all-content .main .office .address { margin-top: 25px; position: relative; }

.all-content .main .office .phone .ico, .all-content .main .office .email .ico, .all-content .main .office .address .ico { position: absolute; width: 24px; height: 24px; background: url("../images/contact/phone.png") no-repeat; top: 2px; left: 0; }

.all-content .main .office .phone .tit, .all-content .main .office .email .tit, .all-content .main .office .address .tit { padding-left: 38px; font-size: 12px; color: #333333; line-height: 20px; }

.all-content .main .office .phone .con, .all-content .main .office .email .con, .all-content .main .office .address .con { padding-left: 38px; font-size: 12px; color: #666666; line-height: 24px; }

.all-content .main .office .phone .con span, .all-content .main .office .email .con span, .all-content .main .office .address .con span { margin-right: 20px; }

.all-content .main .office .email .ico { background-image: url("../images/contact/email.png"); }

.all-content .main .office .address .ico { background-image: url("../images/contact/add.png"); }

.all-content .main .office.ch { background: url("../images/contact/ch.png") no-repeat top left/530px auto; }

.all-content .main .office.en { background: url("../images/contact/en.png") no-repeat top left/530px auto; }
