[v-cloak] { display: none; }

body { font-size: 14px; }

.fade-enter-active, .fade-leave-active { opacity: 1; -webkit-transition: all .4s; -o-transition: all .4s; transition: all .4s; }

.fade-enter, .fade-leave-to { opacity: 0; }

.leftIn-enter-active, .leftIn-leave-active, .left-enter-active, .left-leave-active, .rightIn-enter-active, .rightIn-leave-active, .bottomIn-enter-active, .bottomIn-leave-active { -webkit-transition: all .4s; -o-transition: all .4s; transition: all .4s; }

.leftIn-enter { -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); }

.leftIn-leave-to { -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }

.left-enter, .left-leave-to { -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); }

.rightIn-enter { -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }

.rightIn-leave-to { -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); }

.bottomIn-enter, .bottomIn-leave-to { -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }

.slideDown-enter-active, .slideDown-leave-active { -webkit-transition: all .2s; -o-transition: all .2s; transition: all .2s; max-height: 400px; }

.slideDown-enter, .slideDown-leave-to { max-height: 0; }

.bounce-enter-active { -webkit-animation: bounce-in .4s; animation: bounce-in .4s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.bounce-leave-active { animation: bounce-in .4s reverse; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

@-webkit-keyframes bounce-in { 0% { -webkit-transform: translate(-50%, -50%) scale(0.6); transform: translate(-50%, -50%) scale(0.6);
    opacity: 0; }
  100% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }

@keyframes bounce-in { 0% { -webkit-transform: translate(-50%, -50%) scale(0.6); transform: translate(-50%, -50%) scale(0.6);
    opacity: 0; }
  100% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }

.page-bottom { background: #48484f; color: #fff; font-size: 0.2rem; line-height: 0.4rem; text-align: center; padding: 0.3rem; height: 1.7rem; }

.page-bottom a, .page-bottom span { color: #fff; margin: 0 .5em; }

.mask { position: fixed; left: 0; bottom: 0; right: 0; top: 0; background: rgba(0, 0, 0, 0.6); z-index: 99; }

#aside .aside-wrapper { position: fixed; right: 0; top: 0; bottom: 0; background: #3a3a3a; width: 4.5rem; padding-top: 3.1rem; z-index: 99; }

#aside .aside-logo { width: 100%; position: absolute; left: 0; top: 0; padding-top: 0.4rem; height: 3.1rem; }

#aside .aside-logo img { display: block; width: 2.1rem; margin: 0 auto; }

#aside .aside-wrapper a { display: block; color: #fff; }

#aside .aside-wrapper li { line-height: 0.9rem; }

#aside .aside-wrapper .one a { font-size: 0.36rem; padding-left: 0.75rem; }

#aside .aside-wrapper .two a { font-size: 0.3rem; padding-left: 1.06rem; }

#aside .aside-wrapper .active { background: -webkit-gradient(linear, left top, right top, from(#e00058), to(#3a3a3a)); background: -webkit-linear-gradient(left, #e00058, #3a3a3a); background: -o-linear-gradient(left, #e00058, #3a3a3a); background: linear-gradient(to right, #e00058, #3a3a3a); }

.my-apply .apply-box { position: fixed; left: 0; bottom: 0; right: 0; padding: 0.3rem; padding-bottom: 0; background: #fff; z-index: 99; }

.my-apply .cube-input { margin: 0.3rem 0; }

.my-apply .title { font-szie: 0.3rem; line-height: 0.48rem; text-align: center; color: #333; }

.my-apply .cubeic-close { font-size: 0.34rem; position: absolute; right: 0.3rem; top: 0.3rem; line-height: 0.48rem; color: #666; }

.my-apply .error { font-size: 0.24rem; text-align: center; color: red; }

.my-apply .apply-btn { line-height: 0.98rem; text-align: center; background: #e00058; margin: 0 -0.3rem; color: #fff; margin-top: 0.3rem; font-size: 0.34rem; }

.my-apply .apply-btn a { display: block; color: #fff; letter-spacing: 2px; }

.my-register .register-box { position: fixed; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background: #fff; padding: 0.3rem; border-radius: 4px; z-index: 99; }

.my-register .cubeic-close { position: absolute; right: 0.2rem; top: 0.2rem; font-size: 20px; color: #666; }

.my-register .register-btn { display: block; margin: 0.3rem 0; border: 1px solid #e9e9e9; border-radius: 4px; width: 2.96rem; text-align: center; }

.my-register .register-btn p { color: #333333; font-size: 0.24rem; margin: 0.2rem 0; }

.my-register .register-btn img { width: 0.76rem; display: block; margin: 0.3rem auto; }

.my-header { width: 100%; height: 1.24rem; background: #fff; position: fixed; z-index: 10; overflow: hidden; color: #333; }

.my-header .cubeic-back { position: absolute; left: 0; top: 0; line-height: 0.64rem; font-size: 0.4rem; padding: 0.3rem 0.2rem; }

.my-header .title { text-align: center; line-height: 0.64rem; padding: 0.3rem; font-size: 0.36rem; font-weight: normal; }

.my-main { padding-top: 1.24rem; }
