#app { border-top: .3rem solid #f6f6f6; border-bottom: .3rem solid #f6f6f6; background: #fff; padding: .34rem .3rem .78rem; }

#app img { width: 6.9rem; height: 3.72rem; }

#app p { font-size: .26rem; line-height: .52rem; margin-top: .48rem; color: #666666; text-align: left; }
