@import './init.scss';

.head {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    padding: 0 .3rem 0;
    .operation {
        float: left;
        width: .4rem;
        img {
            height: .32rem;
        }
    }
    .logo {
        width: 100%;
        text-align: center;
        padding-top: .02rem;
        img {
            height: .32rem;
        }
    }
    .tit {
    	padding-top: .01rem;
    	@include font(.36rem,#333333);
    	text-align: center;
    }
}

.foot {
	width: 100%;
	background: #4469ca;
	padding: .24rem 0;
	text-align: center;
	p {
		@include font(.2rem,#ffffff);
		line-height: .4rem;
		.mar {margin: 0 .2rem}
	}
}