<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="CEBVEC,NPTC,中英职教联盟,职教联盟,对外合作与发展联盟,联盟服务,联盟理事会,联盟会员单位,中英职教,中英职教合作,国际合作,院校交流,校际合作,英国院校,职教政策,中国高职">
    <meta name="description" content="中国区英国职业教育卓越中心（Centre of Excellence for British Vocational Education in China，简称CEBVEC）受英国政府支持而成立，总部设在英国，在北京设立了中国区办公室。CEBVEC依托于英国规模最大的职业教育学院--尼思港塔尔博特学院（简称NPTC），与中国高等职业学院开展国际教育合作，通过引进英国先进的国际教育标准和优势专业，帮助中国职业院校教育标准与国际接轨，打造具有国际竞争力的专业体系，培养国际化专业人才。">
    <title>学生注册</title>
    <link rel="stylesheet" type="text/css" href="../tools/iview.css">
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/studentRegistration.css">
</head>

<body>
    <div id="app">
        <my-head></my-head>
        <my-nav :now="cur"></my-nav>
        <div class="box-center">
            <div class="label">首页>学生注册</div>
            <div class="main">
                <div class="person">
                    <div class="title">个人信息</div>
                    <div class="fill clearfix">
                        <span class="left">姓名：</span>
                        <div class="right w200">
                            <input type="text" v-model="json.name">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">性别：</span>
                        <div class="right w200">
                            <template>
                                <i-select style="width:100%;height:100%" @on-change="genderCh">
                                    <i-option v-for="item in gender" :value="item.value" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">国籍：</span>
                        <div class="right w200">
                            <template>
                                <i-select style="width:100%;height:100%" @on-change="nationCh">
                                    <i-option v-for="item in nation" :value="item.label" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">户籍所在地：</span>
                        <div class="right w400">
                            <input type="text" v-model="json.residence">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">证件类型：</span>
                        <div class="right w200">
                            <template>
                                <i-select style="width:100%;height:100%" @on-change="cardCh">
                                    <i-option v-for="item in card" :value="item.value" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">证件号码：</span>
                        <div class="right w400">
                            <input type="text" v-model="json.id_card">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">移动电话：</span>
                        <div class="right w200">
                            <input type="text" v-model="json.mobile">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">通讯地址：</span>
                        <div class="right w400">
                            <input type="text" v-model="json.address">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">邮编：</span>
                        <div class="right w400">
                            <input type="text" v-model="json.postcode">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">E-mail：</span>
                        <div class="right w400">
                            <input type="text" v-model="json.email">
                        </div>
                    </div>
                </div>
                <div class="education">
                    <div class="title">学历信息</div>
                    <div class="fill clearfix">
                        <span class="left">所在学校名称：</span>
                        <div class="right w275">
                            <template>
                                <i-select style="width:100%;height:100%" label-in-value @on-change="schoolCh">
                                    <i-option v-for="item in school" :value="item.value" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix" v-cloak v-if="schoolFlag==7">
                        <span class="left" style="visibility: hidden;">所在院校：</span>
                        <div class="right w350">
                            <input type="text" v-model="work">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">入学日期：</span>
                        <div class="right w275">
                            <template>
                                <Date-Picker type="date" :editable="false" @on-change="date" :clearable="false" style="width: 100%;height: 36px"></Date-Picker>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">专业：</span>
                        <div class="right w350">
                            <input type="text" v-model="json.major">
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">年级：</span>
                        <div class="right w350">
                            <input type="text" v-model="json.class">
                        </div>
                        <span class="last">级</span>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">学历类别：</span>
                        <div class="right w350">
                            <template>
                                <i-select style="width:100%;height:100%" @on-change="levelCh">
                                    <i-option v-for="item in level" :value="item.value" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">学制：</span>
                        <div class="right w350">
                            <template>
                                <i-select style="width:100%;height:100%" @on-change="yearCh">
                                    <i-option v-for="item in year" :value="item.label" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">学习形式：</span>
                        <div class="right w350">
                            <input type="text" value="普通全日制" readonly>
                        </div>
                    </div>
                    <div class="fill clearfix">
                        <span class="left">层次：</span>
                        <div class="right w350">
                            <template>
                                <i-select style="width:100%;height:100%" @on-change="gradaCh">
                                    <i-option v-for="item in grada" :value="item.value" :label="item.label"></i-option>
                                </i-select>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="btns" @click="submit">提交</div>
            </div>
        </div>
        <my-foot></my-foot>
    </div>
</body>
<script type="text/javascript" src="../tools/vue.min.js"></script>
<script type="text/javascript" src="../tools/vue-resource.min.js"></script>
<script type="text/javascript" src="../tools/iview.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/studentRegistration.js"></script>
</html>