body, html { width: 100%; height: 100%; margin: 0; }

input, textarea { margin-bottom: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[disabled], input[readonly], select[disabled], select[readonly], textarea[disabled], textarea[readonly] { background: 0 0; cursor: default; }

p { margin-bottom: 0; margin-top: 0; }

ol, ul { list-style: none; margin-bottom: 0; padding: 0; }

a { text-decoration: none; color: #333; }

a:hover { color: #333; text-decoration: none; }

a:link { text-decoration: none; }

i { font-style: normal; }

.f_left { float: left; }

label { margin-bottom: 0; }

.f_right { float: right; }

.clearfix::after { display: block; content: ''; clear: both; height: 0; }

button, input, select, textarea { outline: 0; resize: none; -webkit-box-shadow: none !important; box-shadow: none !important; }

.uneditable-input, input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], select, textarea { margin-bottom: 0 !important; }

button { border: none !important; background: 0 0 !important; }

body { background: #fff; }

[v-cloak] { display: none; }

#app * { -webkit-box-sizing: border-box; box-sizing: border-box; }

.box-center { width: 1200px; margin: 0 auto; }

.box-center { width: 1200px; margin: 0 auto; }

.all-content { width: 1140px; margin: 0 auto; }

.all-content > .label { font-size: 12px; color: #999999; line-height: 12px; margin-top: 20px; margin-bottom: 10px; }

.all-content .info { font-size: 12px; color: #666666; line-height: 48px; }

.all-content .box { padding: 0 15px; margin-top: 10px; margin-bottom: 146px; }

.all-content .box > div { width: 540px; height: 370px; border-radius: 10px; background: url("../images/teacher/traning.jpg") no-repeat top center; -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.all-content .box > div .top { height: 80px; line-height: 80px; text-align: center; font-size: 18px; color: #ffffff; }

.all-content .box > div .bo { padding: 25px 42px 10px; font-size: 14px; color: #666666; line-height: 28px; }
