@import "_init.scss";
.video-js .vjs-big-play-button{
    font-size: 2.5em;
    line-height: 2.3em;
    height: 2.5em;
    width: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115,133,159,.5);
    border-width: 0.15em;
    margin-top: -1.25em;
    margin-left: -1.75em;
}
.main{@include border1;padding:0 30/$dw+rem 30/$dw+rem;width:100%;
    .my-video{padding:20/$dw+rem 0;}
    .about{font-size:26/$dw+rem;color:#666666;line-height:2em;}
}