@import "_init.scss";
.my-main{position:fixed;left:0;top:0;width:100%;bottom:0;padding-bottom:170/$dw+rem;}
.main{@include border1;width:100%;height:100%;padding-left:300/$dw+rem;position:relative;}
.main-left{
	position:absolute;left:0;top:0;width:300/$dw+rem;height:100%;background:#f6f6f6;overflow:hidden;
	ul{width:100%;}
	li{line-height:90/$dw+rem;padding:0 30/$dw+rem 0 20/$dw+rem;font-size:30/$dw+rem;color:#666666;@include ellipsis;}
	.active{@include linear;color:#fff;}
}
.main-right{
	width:100%;height:100%;
	.main-right-box{padding-left:75/$dw+rem;padding-right:30/$dw+rem;}
	ul{padding:20/$dw+rem 0;}
	li{font-size:30/$dw+rem;line-height:60/$dw+rem;color:#666;}
	.more{border:1px solid $tColor;border-radius:4px;width:300/$dw+rem;
		a{display:block;color:$tColor;font-size:30/$dw+rem;line-height:66/$dw+rem;text-align:center;}
	}
}