@import './_init.scss';

#app {
	border-top: .3rem solid #f6f6f6;
	border-bottom: .3rem solid #f6f6f6;
	padding: .32rem .32rem .58rem;
	.title {
		font-size: .36rem;
		color:#333333;
		line-height: .72rem;
	}
	.con-box {
		margin-top: .34rem;
		.con {
			font-size: .26rem;
			color:#666666;
			line-height: .52rem;
		}
		img {
			width: 100%;
			margin-top: .22rem;
		}
		.intro {
			display: block;
			font-size:.24rem;
			color:#999999;
			line-height: .48rem;
			margin-top: .18rem;
			padding: 0 .36rem;
		}
	}
	.new-bottom {
		font-size: .26rem;
		color:#999999;
		line-height: .52rem;
		margin-top: .5rem;
	}
}