@import './_init.scss';

#app {
	border-top: .3rem solid #f6f6f6;
	border-bottom: .3rem solid #f6f6f6;
	padding: 0 .3rem;
	.new {
		width: 100%;
		padding-bottom:.3rem;
		padding-top: .3rem;
		border-bottom: 1px solid #e9e9e9;
		line-height: .46rem;
		&:last-child {
			border-bottom: 0;
		}
		a {
			display: block;
			font-size: .28rem;
			color:#666666;
		}
		span {
			font-size: .24rem;
			color:#999999;
		}
	}
}