@import "commen.scss";
.page-404{margin:120px auto;width:460px;text-align:center;padding:10px;}
.page-404{
	.big{color:#333;font-size:30px;line-height:1.4;margin-top:20px;}
	.small{color:#555;font-size:14px;line-height:2;margin-top:20px;}
}