@import "commen.scss";
.page-content{width:1200px;margin:20px auto;}
.label{@include font(12px,#999999);line-height:12px;margin-top:20px;margin-bottom:20px;}
.explain{width:100%;text-align:center;font-weight:bold;font-size:18px;color:#333333;height:400px;}
