<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="CEBVEC,NPTC,中英职教联盟,职教联盟,对外合作与发展联盟,联盟服务,联盟理事会,联盟会员单位,中英职教,中英职教合作,国际合作,院校交流,校际合作,英国院校,职教政策,中国高职">
    <meta name="description" content="中国区英国职业教育卓越中心（Centre of Excellence for British Vocational Education in China，简称CEBVEC）受英国政府支持而成立，总部设在英国，在北京设立了中国区办公室。CEBVEC依托于英国规模最大的职业教育学院--尼思港塔尔博特学院（简称NPTC），与中国高等职业学院开展国际教育合作，通过引进英国先进的国际教育标准和优势专业，帮助中国职业院校教育标准与国际接轨，打造具有国际竞争力的专业体系，培养国际化专业人才。">
    <title>中英专业</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css">
    <link rel="stylesheet" type="text/css" href="../css/professional.css">
</head>

<body>
    <div id="app">
        <my-head></my-head>
        <my-nav :now="cur"></my-nav>
        <div class="all-content">
            <div class="label">首页＞中英专业</div>
            <!-- <div class="number">CEBVEC共建专业已涉及19大类、761种专业</div> -->
            <div class="categories">
                <ul class="clearfix">
                    <li v-for="(it,k) in dataList" v-text="k+1+' '+it.val" @click="filter(it.code)">农林牧渔大类</li>
                </ul>
            </div>
            <div class="little">
                <ul class="clearfix bt0">
                    <li class="left">专业分类</li>
                    <li class="right">专业</li>
                </ul>
                <ul class="clearfix list" v-for="(it,k) in dataList" :id="it.code">
                    <li class="left" v-text="k+1+' '+it.val">5404 - 建筑设备类</li>
                    <li class="right">
                        <span v-for="val in it.major" v-text="val.name">540405 - 工业设备安装工程技术</span>
                    </li>
                </ul>
            </div>
            <a class="more" :href="path+'/contact.html'">了解更多专业</a>
        </div>
        <my-foot></my-foot>
    </div>
</body>
<script type="text/javascript" src="../tools/vue.min.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/professional.js"></script>

</html>